:root {
  --secondary: #7bbddc;
  --lightgrey: #dfdfdf;
  --grey: #b8b8b8;
  --darkgrey: #6c6c6c;
  --font: #6d6d6d;
  --min-image: 80px;
  --min-text: 150px;
  --gap:30px;
}
.bg-primary {
  background-color: var(--primary, blue);
}
.bg-secondary {
  background-color: var(--secondary);
}
.bg-light {
  background-color: var(--light);
}
.bg-dark {
  background-color: var(--dark);
}
.bg-grey {
  background-color: var(--grey);
}
.bg-lightgrey {
  background-color: var(--lightgrey);
}
.bg-darkgrey {
  background-color: var(--darkgrey);
}
.bg-white {
  background-color: white;
}
.bg-darkgrey {
  background-color: var(--darkgrey);
}
.border, .bg-primary, .bg-secondary, .bg-grey, .bg-lightgrey, .bg-darkgrey, .bg-dark, .bg-light {
  padding: 10px;
}
.c-primary {
  color: var(--primary, blue);
}
.c-secondary {
  color: var(--secondary);
}
.c-white .field,
.c-white>a:not(.lpb-btn),
.c-white>a:not(.lpb-btn):hover,
.c-white>a:not(.lpb-btn):focus {
  color: white;
}
.c-white .c-font .field, .c-font {
  color: var(--font);
}
.border {
  border: 1px solid;
}
.b-primary {
  border-color: var(--primary, blue);
}
.b-secondary {
  border-color: var(--secondary);
}

.ck nbsp {
  border: none;
  background-color: rgba(0, 123, 198, 0.1);
  width:.3em;
}

.ck.ck-reset_all-excluded.ck-style-grid__button__preview.ck-content {
  display: none !important;
}



/* Start overriden Gin Theme */

/* Paragraph Editor */
.lp-builder .layout__region .flex {
  gap: var(--gap);
}
.lp-builder .margin-top {
  margin-top: 40px;
}
.lp-builder .paragraph.grid .field__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(var(--min-text),100%), 1fr));
  gap:10px;
  row-gap: 10px;
  row-gap:20px;
  hyphens:auto;
}
.lp-builder .paragraph.grid .field__items>.field__item>div {
  height: calc(100% - 20px);
}
.lp-builder .paragraphs-content {
  max-width: 1240px;
}
.lp-builder .paragraphs-subform {
  padding-right: 20px;
}
#layout-paragraphs-layout-options {
  display: none;
}
.lpb-dialog, .lpb-dialog.ui-dialog {
  min-width: min(70%, 900px);
}
.lp-builder .paragraph.grid-1-2.grid .field__items {
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 450px) {
  .lp-builder .paragraph.grid-1-2.grid .field__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
.lp-builder .paragraph.grid-1-2-4.grid .field__items {
  grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 450px) {
  .lp-builder .paragraph.grid-1-2-4.grid .field__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1400px) {
  .lp-builder .paragraph.grid-1-2-4.grid .field__items {
    grid-template-columns: repeat(4, 1fr);
  }
}
.lp-builder .paragraph.grid-1-3.grid .field__items {
  grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 650px) {
  .lp-builder .paragraph.grid-1-3.grid .field__items {
    grid-template-columns: repeat(3, 1fr);
  }
}
.lp-builder .paragraph.grid-1-3-6.grid .field__items {
  grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 650px) {
  .lp-builder .paragraph.grid-1-3-6.grid .field__items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1400px) {
  .lp-builder .paragraph.grid-1-3-6.grid .field__items {
    grid-template-columns: repeat(6, 1fr);
  }
}

.lpb-component-list__group--content {
  padding-bottom: 20px;
}




/* CK-Editor */


.ck figure[data-view-mode="third"].ck-widget {
  max-width: 33%;
}
.ck figure[data-view-mode="half"].ck-widget {
  max-width: 50%;
}
.ck.ck-content:not(.ck-comment__input *) {
  min-height: 100px;
  max-height: 80vh;
  overflow-y: auto;
}

/* Better cursor for link-select */
.ck.ck-reset_all .linkit-result-line--title,
.ck.ck-reset_all .linkit-result-line,
.ck.ck-reset_all .linkit-result-line-wrapper,
.ck.ck-reset_all .linkit-result-line--description,
.ck.ck-reset_all :not(.ck-reset_all-excluded *) .linkit-result-line,
.ck.ck-reset_all :not(.ck-reset_all-excluded *) .linkit-result-line>*,
.linkit-result-line-wrapper,
.linkit-result-line--title,
.linkit-ui-autocomplete .linkit-result-line--description,
.linkit-ui-autocomplete .linkit-result-line,
.ck button.ck-button,
.ck.ck-button,
button.ck-button,
.ck .ck.ck-button {
  cursor:pointer;
}

/* Linkit-Baloon hidden behind modal
https://www.drupal.org/project/drupal/issues/3274937#comment-14824232
 */
.ck-body-wrapper .ck {
  --ck-z-modal: 1261;
}


/*
.media-library-menu {
  max-width: 12.5% !important;
}

.cke_combopanel {
   width:200px !important;
}
 */


/* .lpb-component-list__search {
  display: none;
}
.media-library-edit__link {
  text-indent: -999px;
}
 */


/* Override content view */
tr.unpublished .views-field-title a {
  opacity: .3;
}
tr.unpublished a:hover {
  opacity: 1;
}
/* Background vor SBVG-Media in Media-View */
.views-field.views-field-thumbnail__target-id img {
  background-color: lightgrey;
}



/* Paragraph Preview */
.paragraph--view-mode--preview:not(.paragraph--type--text-image) .field--name-field-paragraph-media,
.paragraph--view-mode--preview .field--name-field-paragraph-multitext,
.paragraph--view-mode--preview .field--name-field-paragraph-node .view-content {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  gap: 20px;
}
.paragraph--view-mode--preview .field__item:not(.field--name-field-media-oembed-video),
.paragraph--view-mode--preview .field--name-field-paragraph-node .views-row {
  flex: 1 1 0;
}
.paragraph.paragraph--type--text-image.paragraph--view-mode--preview {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.paragraph--view-mode--preview  .field--name-field-paragraph-title {
  font-size: 150%;
  font-weight: bold;
  column-span: all;
  -webkit-column-span: all;
  width: 100%;
  flex: 1 1 100%;
  grid-column: 1 / -1;
}
.paragraph-type-label {
  color: lightgrey;
}
.field--name-field-media-oembed-video .media-oembed-content {
  max-height: calc(800px / 16 * 9);
}

.custom-company-token-settings .placeholder,
code {
  font-style: normal;
  -webkit-user-select: all;-moz-user-select: all;-ms-user-select: all;user-select: all;
}


/* div[class*='yoast-seo-focus-keyword'], */
#yoast-wrapper .label,
#yoast-output,
#yoast-overall-score {
  display: none;
}


/* @media screen and (min-width: 61rem){
  .layout-node-form .layout-region--node-main .layout-region__content, .layout-region--node-footer .layout-region__content {
  max-width: min(100%, 1200px);
  margin-right: auto;
  }
} */
